.product-card-root {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 5, 0, 0, 2);
    -fx-padding: 10;
    -fx-alignment: CENTER;
}

.product-card-name {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.product-card-info {
    -fx-font-size: 14px;
    -fx-text-fill: #666;
}

.product-card-button {
    -fx-background-color: #457b9d;
    -fx-text-fill: white;
    -fx-background-radius: 4;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 6 10 6 10;
}

.product-card-button:hover {
    -fx-background-color: #1d3557;
}